@model press_agency_asp_webapp.ViewModels.UserViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_WallLayout.cshtml";
}
<script type ="module"src="~/Scripts/js/Register.js"></script>

<div class="container py-3">
    <div class="row justify-content-center py-5">
        <div class="col-md-6">
            <form method="post" id="form" onsubmit="return validateForm()">
                @Html.AntiForgeryToken()

                <h1 class=" h3 mb-3 font-weight-normal text-center">Please sign up</h1>
                <div class="form-group">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", 
                   id = "firstnameInput",
                   placeholder = "Firstname" } })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", 
                   id="lastnameInput",
                   placeholder = "Lastname" } })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email" 
                   ,placeholder = "Email", id = "emailInput" } })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", 
                   id="passwordInput",
                   placeholder = "Password" } })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", type = "number", 
                   id="phoneInput",
                   placeholder = "Phone" } })
                </div>

                <div class="form-group">
                    @Html.DropDownListFor(model => model.UserTypeId, new SelectList(Model.UserTypes, "Id", "Name"), "Select Account Type", new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control ", type = "text", placeholder = "Username", id = "usernameInput", style = "display:none" } })
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign Up" class="btn btn-primary" id="submitButton"/>
                </div>
            </form>
         </div>
    </div>
</div>
<script>
    initialize();
</script>