@model press_agency_asp_webapp.ViewModels.UserViewModel

@{
    ViewBag.Title = "Profile";
    ViewBag.Title = "Post";
    switch (HttpContext.Current.Session["usertype"])
    {
        case "viewer":
            Layout = "~/Views/Shared/_WallLayout.cshtml";
            break;
        case "editor":
            Layout = "~/Views/Shared/_FactoryLayout.cshtml";
            break;
        case "admin":
            Layout = "~/Views/Shared/_DashboardLayout.cshtml";
            break;
        default:
            Layout = "~/Views/Shared/_WallLayout.cshtml";
            break;
    }}
<script src="~/Scripts/js/Profile.js"></script>
<div class="container-fluid">
    <div class="row p-5">
        <div class="col-4 text-center">
            <img class="rounded float-left" src="~/Content/images/@Model.ImagePath" height="300" width="100%" alt="">
            
            @using (Html.BeginForm("UpdateImage", "Actor", FormMethod.Post, new
            {
                @class = "form-horizontal",
                role = "form",
                enctype = "multipart/form-data",
            }))
            {
            <div class="form-group mt-3 text-left custom-file">
                <input type="file" class="custom-file-input" name="userImage"
                       id="image">
                <label class="custom-file-label" for="image">Choose image</label>
                <button class="btn btn-dark mt-2" type="submit">update Photo</button>
            </div>

            }
        </div>
                <div class="col-md-8 py-3">
                    <h5>
                        <span id="firstname">@Model.FirstName</span>
                        <span id="lastneme">@Model.LastName</span>
                    </h5>
                    <br>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="about-tab" data-toggle="tab" aria-controls="about"
                               aria-selected="true" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit"
                               aria-selected="false">Edit profile</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                            <table class="table tab">
                                <tbody>
                                    <tr id="usernameTR">
                                        <td>Username</td>
                                        <td id="username">@Model.UserName</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td id="email">@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <td>Phone</td>
                                        <td id="phone">@Model.Phone</td>
                                    </tr>
                                    <tr>
                                        <td>Role</td>
                                        <td>@Model.UserTypeName</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                            <br>
                            <form>
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Firstname" id="firstnameInput"
                                           value="@Model.FirstName"
                                           required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Lastname" id="lastnameInput"
                                           value="@Model.LastName"
                                           required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Phone number"
                                           id="phoneInput" required value="@Model.Phone">
                                </div>
                                <button type="button" class="btn btn-primary" onclick="updateActor()">Submit</button>
                                <br />
                                <br />
                                <div class="alert alert-success" role="alert" id="alert" style="display:none">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
</div>

<script>
    initialize();
    function updateActor(){
        handleForm(@Html.Raw(Json.Encode(Model)));
    }
    
</script>